@import "tailwindcss";

@property --border-angle {
  syntax: "<angle>";
  inherits: false;
  initial-value: 0deg;
}

@theme {
  --animate-spin-slow: spin 6s linear infinite;
  --animate-spin-reverse: spin-reverse 7s linear infinite;
  --animate-rotate-border: border-rotate 3s linear infinite;

  @keyframes border-rotate {
    to {
      --border-angle: 360deg;
    }
  }
  @keyframes spin {
    to {
      transform: rotate(360deg);
    }
  }

  @keyframes spin-reverse {
    to {
      transform: rotate(-360deg);
    }
  }
}
